* {
    box-sizing: border-box;
}
#hero{
    background-image:url('background.jpg');
    background-size:cover;
    background-position: center center;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.header{
    color: white;
}
.welcomeText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    margin: 0px;
}
#magic{
    border-right: 2px solid white;
    display: inline;
}
#learnMoreText{
    bottom: 5.5%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
#scroll{
    font-size: 1.2rem;
}#aboutMe{
    background-color: wheat;
}
#aboutMeContainer{
   padding: 20px;
}
#aboutMeHeader img{
    width: 50%;
    display: inline-block;
    display: block;
    margin: 0 auto;
}
#aboutMeText{
    font-size: 2vw;      
}
#welcomeText{
    text-align: center;
}
#content{
    margin: 0px auto;
}
.alignTextCenter{
    text-align: center;
    font-size: 3vw;
    margin-top: 0px;    
}
.projectContainer{
    border-bottom: 1px solid black;
    padding: 50px;
    width: 100%;
}
#recentProjectsText{
    font-size: 4vw;  
    text-align: center;
    margin-top: 20px;   
}
.projectTitle{
    margin-top: 20px;
    font-size: 4vw;   
    text-align: center;    
}
.projects{
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 40px;
}
.projectDetails{
    display: inline-block;
    vertical-align: top;
    height: 250px;
    width: 50%;
}
#footer{
    padding:30px 0px;
    text-align:center;
    background:#ddd;
}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 960px) {

}
@media screen and (min-width: 1024px) {

}   