* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
#hero{
    background-image:url('background.jpg');
    background-size:cover;
    background-position: center center;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-attachment: fixed;
}
.header{
    color: white;
}
.welcomeText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    margin: 0px;
}
#magic{
    border-right: 2px solid white;
    display: inline;
}
#learnMoreText{
    bottom: 5.5%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
#scroll{
    font-size: 1.2rem;
}#aboutMe{
    color: white;
    margin-bottom: 0px;
}
#aboutMeContainer{
   padding: 20px;
   background-color: white;
   color: black;
}
#aboutMeHeader img{
    width: 50%;
    display: inline-block;
    display: block;
    margin: 0 auto;
    visibility: hidden;    
}
.aboutMeText{
    font-size: 16px;  
    visibility: hidden;
}
#welcomeText{
    text-align: center;
}
.bio{
    font-size: 1.4vw;
}
#content{
    margin: 0px auto;
    background-color: #F5F6F7;
    padding: 30px;  
    border-bottom: 1px solid #292323;
}
.alignTextCenter{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;    
}
.projectContainer{
    margin-right: 50px;
}
#recentProjectsText{
    font-size: 30px;  
    text-align: center;
    color: white;
    font-weight: 100;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 0px;
    background-image: url('bulb.jpg');
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;    
}
.projectTitle{
    text-align: center;    
    font-size: 35px;
    color: black;
}
.projects{
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 40px;
}
.projectDetails{
    display: inline-block;
    vertical-align: top;
    height: 250px;
    width: 50%;
}
.links{
    display: inline-block;
}
#footer{
    text-align:center;
    background:#2A3B4E;
    color: white;
    margin-bottom: 0px;
}
.row .col.s12{
    padding-top: 20px;
}
.socialLinks{
    border-radius: 15%;
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    vertical-align: top;
}
.chip{
    margin-right: 20px;
}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 960px) {

}
@media screen and (min-width: 1024px) {

}   